body {
    background-color: #EFF6E0;
    color: #01161E;
}

h1, h3 {
    color: #01161E;
}

.navbar {
    background-color: #929F93;
    color: #01161E;
}

.nav-link {
    color: #01161E !important;
}

.container {
    margin-top: 20px;
}

.chart-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

input[type="text"], input[type="radio"], input[type="checkbox"] {
    background-color: #124559;
    color: #EFF6E0;
    border: 1px solid #124559;
}

input[type="text"]:focus, input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: #124559;
    color: #EFF6E0;
}

.btn {
    background-color: #598392;
    color: #EFF6E0;
    border: 1px solid #124559;
}

.btn:hover, .btn:focus {
    background-color: #124559;
    color: #FFFFFF;
}

label {
    color: #124559;
}

.form-control {
    background-color: #EFF6E0;
    border: 2px solid #124559;
}

.form-control:focus {
    border-color: #124559;
    box-shadow: 0 0 0 0.2rem rgba(18, 69, 89, 0.25);
}
